body {
    background-color: #000;
    color: #fff;
}
.navbar {
    background-color: #111;
}
.navbar-brand, .nav-link {
    color: #ff4500 !important;
}
.jumbotron {
    background-color: #ff6347;
    color: #fff;
}
footer {
    background-color: #111;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}